/* Font Koulen and Roboto */
@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header.top {
    padding: 10px 0;
    background-color: #161616;
    position: relative;
}

body {
    height: 400vh;
}

header > .header-section {
    width: 70vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}


.header-section > figure > .logo {
    height: 38px;
}

.ads-container {
    width: 70%;
    display: none;
    background-color: rgb(105, 105, 105);
}

.toggle {
    color: white;
    position: absolute;
    left: 15px;
    top: 50%;
    font-size: 22px;
    transform: translate(0, -50%);
}


input.trigger[type="checkbox"] {
    position: absolute;
    display: inline-block;
    left: 15px;
    top: 50%;
    transform: translate(0, -50%);
    width: 22px;
    height: 22px;
    opacity: 0;
}


header.top > .drop-down {
    width: 100%;
    height: 0px;
    background-color: red;
    position: absolute;
    top: 100%;
    transition: all 250ms ease;
}

input.trigger[type="checkbox"]:checked + .drop-down {
    height: 200px;
}


nav.navigation {
    width: 100vw;
    background-color: #FA2E3A;
    position: sticky;
    top: 0;
    display: none;
}


.navigation > .collapse {
    width: 70vw;
    margin: 0 auto;
}


.collapse > li {
    display: inline-block;
}

.collapse > li > a {
    font-family:  "Roboto", "Koulen", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    padding: 10px 15px;
    color: rgb(225, 225, 225);
    text-decoration: none;
    font-size: 22px;
  
}

.collapse > li > a:hover {
    color: white;
}

.section-1 {
    width: 70vw;
    margin: 20px auto;
    display: grid;
    grid-template-rows: repeat(2, 250px);
    grid-template-columns: 4fr repeat(2, 2fr);
}


div[class^="content"] {
    background-color: orange;
    position: relative;
}

div[class^="content"] > figure {
    width: 100%;
    height: 100%;
}

div[class^="content"] > figure > img {
    width: 100%;
    object-fit: cover;
    
    height: 100%;
}

div[class^="content"] > .dark {
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: linear-gradient(0deg,rgba(0, 0, 0, 0.602), rgba(0, 0, 0, 0.255));
    z-index: 1;
    inset: 0;
    transition: all 0.2s ease;
}


div[class^="content"]:hover > .dark {
    background-image: linear-gradient(0deg,rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.493));
}

@media (min-width: 768px) {
    .header-section > figure > .logo {
        height: 80px;
    }

    nav.navigation {
        display: block;
    }

    .ads-container {
        display: block;
    }

    header > .header-section {
        justify-content: space-between;
    }

    .toggle {
        display: none;
    }
}






